@{
  Layout = "_Layout";
}

@model PierresBakery.Models.Treat

<h4>Add a new Treat</h4>

@using (Html.BeginForm())
{
    @Html.Label("Treat Name")
    @Html.TextBoxFor(model => model.TreatName)
    <br>
    @Html.Label("Select Flavor")
    @Html.DropDownList("FlavorId")
    <br>
    <input type="submit" value="Add new treat" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all treats", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>