@{
  Layout = "_Layout";
}

@model PierresBakery.Models.Child

<h4>Add a new Child</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.ChildName)
    @Html.TextBoxFor(model => model.ChildName)

    @Html.Label("Select Flavor")
    @Html.DropDownList("FlavorId")

    <input type="submit" value="Add new child" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all childs", "Index")</p>