@{
  Layout = "_Layout";
}

@model PierresBakery.Models.Child

<h2>CHILD Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.ChildName): @Html.DisplayFor(model => model.ChildName)</h3>

@if(Model.JoinEntries.Count == 0)
{
  <p>This CHILD does not belong to any flavors</p>
}
else
{
  <h4>Flavors the CHILD belongs to:</h4>
  @* <ul>
    @foreach(var join in Model.Flavors)
    {
      <li>@join.Flavor.FlavorName</li>
    }
  </ul> *@
}

  <ul>
  @foreach(var join in Model.JoinEntries)
  {
    <li>@join.Flavor.FlavorName</li>
    @using (Html.BeginForm("DeleteFlavor", "Childs"))
    {
      @Html.Hidden("joinId", @join.FlavorChildId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
  
<p>@Html.ActionLink("Add a flavor", "AddFlavor", new { id = Model.ChildId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Child", "Edit", new { id = Model.ChildId })</p>
<p>@Html.ActionLink("Delete Child", "Delete", new { id = Model.ChildId })</p>