@{
  Layout = "_Layout";
}

@using PierresBakery.Models;
@model IEnumerable<PierresBakery.Models.Treat>;

<h3>Treats for @User.Identity.Name</h3>

@if (@Model.Any())
{
  <ul>
    @foreach (Treat treat in Model)
    {
      <h4><li>@Html.ActionLink($"{treat.TreatName}", "Details", new { id = treat.TreatId })</li></h4>
    }
  </ul>
}
else
{
  <h3>No treats have been added yet!</h3>
}

<p>@Html.ActionLink("Add new treat", "Create")</p>
<br>
<p>@Html.ActionLink("Home", "Index", "Home")</p>