@{
  Layout = "_Layout";
}

@model Template.Models.Child

<h2>Add a parent</h2>

<h4>Add a Parent for this child: @Html.DisplayFor(model => model.ChildName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ChildId)

    @Html.Label("Select a parent")
    @Html.DropDownList("ParentId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>