@{
  Layout = "_Layout";
}

@model Template.Models.Child

<h2>CHILD Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.ChildName): @Html.DisplayFor(model => model.ChildName)</h3>

@if(Model.JoinEntries.Count == 0)
{
  <p>This CHILD does not belong to any PARENTS</p>
}
else
{
  <h4>PARENTS the CHILD belongs to:</h4>
  @* <ul>
    @foreach(var join in Model.Parents)
    {
      <li>@join.Parent.ParentName</li>
    }
  </ul> *@
}

  <ul>
  @foreach(var join in Model.JoinEntries)
  {
    <li>@join.Parent.ParentName</li>
    @using (Html.BeginForm("DeleteParent", "Childs"))
    {
      @Html.Hidden("joinId", @join.ParentChildId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
  
<p>@Html.ActionLink("Add a parent", "AddParent", new { id = Model.ChildId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Child", "Edit", new { id = Model.ChildId })</p>
<p>@Html.ActionLink("Delete Child", "Delete", new { id = Model.ChildId })</p>