@{
  Layout = "_Layout";
}

@model Template.Models.Child

<h2>Edit</h2>

<h4>Edit this CHILD's info: @Html.DisplayFor(model => model.ChildName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ChildId)

    @Html.LabelFor(model => model.ChildName)
    @Html.EditorFor(model => model.ChildName)
@* 
    @Html.Label("Select a PARENT")
    @Html.DropDownList("ParentId") *@ 

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>