@{
  Layout = "_Layout";
}

@model Template.Models.Parent

<h4>Edit a parent</h4>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ParentId)
    @* @Html.HiddenFor(model => model.StartDate) *@

    @Html.LabelFor(model => model.ParentName)
    @Html.EditorFor(model => model.ParentName)

    @* @Html.DisplayNameFor(model => model.StartDate) 
    @Html.EditorFor(model => model.StartDate) *@
    
    @Html.LabelFor(model => model.StartDate)
    @Html.EditorFor(model => model.StartDate)
  

    <input type="submit" value="Edit" />
}
<p>@Html.ActionLink("Show all parents", "Index")</p>