@{
  Layout = "_Layout";
}

@model PierresBakery.Models.Flavor

<h3>Add a Treat</h3>

<h4>Add a treat to this flavor category: @Html.DisplayFor(model => model.FlavorName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)
  <br>
  @Html.Label("Select a treat")
  @Html.DropDownList("TreatId")
  <br>
  <input type="submit" value="Save"/>
}

<p>@Html.ActionLink("Back to list", "Index")</p>