  
@{
  Layout = "_Layout";
}

@model PierresBakery.Models.Flavor

<h4>Add a new Flavor</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.FlavorName)
    @Html.TextBoxFor(model => model.FlavorName)
    
    @Html.LabelFor(model => model.StartDate)
    @Html.EditorFor(model => model.StartDate)
    @* @Html.TextBoxFor(model => model.StartDate, new { @type = "date"}) *@

    <input type="submit" value="Add new Flavor" />
}
<p>@Html.ActionLink("Show all Flavors", "Index")</p> 




