@{
  Layout = "_Layout";
}

@model PierresBakery.Models.Flavor

<h3>Edit a Flavor</h3>

<h4>Edit this Flavor's info: @Html.DisplayFor(model => model.FlavorName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FlavorId)

    @Html.LabelFor(model => model.FlavorName)
    @Html.EditorFor(model => model.FlavorName)
    <br>
    @Html.Label("Add a Treat")
    @Html.DropDownList("TreatId")
    <br>
    <input type="submit" value="Edit" />
}
<p>@Html.ActionLink("Show all flavors", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>