@{
  Layout = "_Layout";
}

@using PierresBakery.Models;

<h1>Welcome To Pierre's Bakery</h1>
<br>
<h3>What Flavor are you feeling today?</h3>

@foreach(Flavor flavor in ViewBag.Flavors)
{
  <h4>
    <li>@Html.ActionLink($"{flavor.FlavorName}", "Details", "Flavors", new { id = flavor.FlavorId })</li>
  </h4>
}
<br>
<h3>Check out our tasty treats!</h3>

@foreach(Treat treat in ViewBag.Treats)
{
  <h4>
    <li>@Html.ActionLink($"{treat.TreatName}", "Details", "Treats", new { id = treat.TreatId })</li>
  </h4>
}

<p>@Html.ActionLink("See all treats", "Index", "Treats")</p>
<p>@Html.ActionLink("See all flavors", "Index", "Flavors")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>